section.dashboard
  .top
    i.uil.uil-bars.sidebar-toggle
    .search-box
      i.uil.uil-search
      input(type="text", placeholder="Search here...")

  .app
    main.project
      .project-info
        h1 All your tasks
        .project-participants
          // Botón para abrir el modal view
          button.project-participants__add#myBtn Add Participant

      .project-tasks
        .project-column
          .project-column-heading
            h2.project-column-heading__title To do

          // Tarjeta de To do
          .task(draggable="true")
            .task__tags
              span.task__tag.task__tag--critical Critical
              button.task__options
                i.fas.fa-ellipsis-h
              .options-menu
                button.option-btn Editar
                button.option-btn Eliminar
            p Esta es mi tarea
            .task__stats
              span
                time(datetime="2021-11-24T20:00:00")
                  i.fas.fa-flag Nov 24
              span.task__owner
                i.fas.fa-check

          .task(draggable="true")
            .task__tags
              span.task__tag.task__tag--critical Critical
              button.task__options
                i.fas.fa-ellipsis-h
              .options-menu
                button.option-btn Editar
                button.option-btn Eliminar
            p Konsep hero title yang menarik
            .task__stats
              span
                time(datetime="2021-11-24T20:00:00")
                  i.fas.fa-flag Nov 24
              span.task__owner
                i.fas.fa-check

        .project-column
          .project-column-heading
            h2.project-column-heading__title Doing

          .task(draggable="true")
            .task__tags
              span.task__tag.task__tag--important Important
              button.task__options
                i.fas.fa-ellipsis-h
              .options-menu
                button.option-btn Editar
                button.option-btn Eliminar
            p Replace lorem ipsum text in the final designs
            .task__stats
              span
                time(datetime="2021-11-24T20:00:00")
                  i.fas.fa-flag Nov 24
              span.task__owner
                i.fas.fa-check

        .project-column
          .project-column-heading
            h2.project-column-heading__title Done

          .task(draggable="true")
            .task__tags
              span.task__tag.task__tag--optional Optional
              button.task__options
                i.fas.fa-ellipsis-h
              .options-menu
                button.option-btn Editar
                button.option-btn Eliminar
            p Check the company we copied doesn't think we copied them.
            .task__stats
              span
                time(datetime="2021-11-24T20:00:00")
                  i.fas.fa-flag Nov 24
              span.task__owner
                i.fas.fa-check

#myModal.modal
  .modal-content
    span.closing &times;
    p Add a task:
    form(action="", method="post")
      textarea(placeholder="Descripcion", maxlength="20")
      label(for="fecha") Due to:
      br
      input(type="date")
      br
      label Select priority:
      br
      select
        option(value="critical") Critical
        option(value="important") Important
        option(value="optional") Optional
      br
      button(type="submit") Do it!
