//- _dashboard.pug
section.dashboard
  .top
    i(class="uil uil-bars sidebar-toggle")
  .dash-content
    .overview
      .title
        i(class="uil uil-tachometer-fast-alt")
        span.text ¡Hola #{user.nombre}! Bienvenido al dashboard.
      .boxes
        .box.box1
          i(class="uil uil-thumbs-up")
          span.text Total Likes
          span.number 50,120
        .box.box2
          i(class="uil uil-comments")
          span.text Comments
          span.number 20,120
        .box.box3
          i(class="uil uil-share")
          span.text Total Share
          span.number 10,120
    .activity
      .title
        i(class="uil uil-clock-three")
        span.text Tareas recientes
      .activity-data
        .data.names
          span.data-title Name
          span.data-list Prem Shahi
          span.data-list Deepa Chand
          span.data-list Manisha Chand
          span.data-list Pratima Shahi
          span.data-list Man Shahi
          span.data-list Ganesh Chand
          span.data-list Bikash Chand
        .data.email
          span.data-title Email
          span.data-list premshahi@gmail.com
          span.data-list deepachand@gmail.com
          span.data-list prakashhai@gmail.com
          span.data-list manishachand@gmail.com
          span.data-list pratimashhai@gmail.com
          span.data-list manshahi@gmail.com
          span.data-list ganeshchand@gmail.com
        .data.joined
          span.data-title Joined
          span.data-list 2022-02-12
          span.data-list 2022-02-12
          span.data-list 2022-02-13
          span.data-list 2022-02-13
          span.data-list 2022-02-14
          span.data-list 2022-02-14
          span.data-list 2022-02-15
        .data.type
          span.data-title Type
          span.data-list New
          span.data-list Member
          span.data-list Member
          span.data-list New
          span.data-list Member
          span.data-list New
          span.data-list Member
        .data.status
          span.data-title Status
          span.data-list Liked
          span.data-list Liked
          span.data-list Liked
          span.data-list Liked
          span.data-list Liked
          span.data-list Liked
          span.data-list Liked
