//- _navbar.pug
nav
  .logo-name
    .logo-image
      img(src="images/logo.png", alt="Mi imagen")
    span.logo_name Organizer
  .menu-items
    ul.nav-links
      li
        a(href="/")
          i(class="uil uil-estate")
          span.link-name Dashboard
      li
        a(href="content")
          i(class="uil uil-files-landscapes")
          span.link-name Tasks
    ul.logout-mode
      li
        a(href="/logout", id="logout-link")
          i(class="uil uil-signout")
          span.link-name Logout
      li.mode
        a(href="#")
          i(class="uil uil-moon")
          span.link-name Dark Mode
        .mode-toggle
          span.switch
