doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Registro de usuario
    link(rel="stylesheet" href="/css/register.css")
  body
    .wrapper
      h2 Login
      form(action="/usuarios/register" method="POST")
        if error
          p=error
        .input-box
          input(type="text" name="nombre" placeholder="First name" required)
        .input-box
          input(type="text" name="apellidos" placeholder="Second name" required)
        .input-box
          input(type="email" name="correo" placeholder="Email" required)
        .input-box
          input(type="password" name="contrasenia" placeholder="Password" required)
        .policy
          input(type="checkbox" required)
          h3 I accept all terms & condition
        .input-box.button
          input(type="submit" value="Login")
        .text
          h3 Already have an account? Log in now! 
            a(href="/login") Register now
